main {
  min-height: 80vh;
}

h3 {
  margin: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0 .1rem;
}

/* Create product button */
.create-product {
  float: right;
}

/* carousel */
.carousel {
  background-image:  conic-gradient(from 90deg at 50% 125%, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00) !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 350px;
  padding: 25px;
  margin: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

#searchBar {
  width: 400px;
}

/* Product Card */
.product-card {
  min-height: 420px;
}


@media (max-width: 700px) {
  .carousel img {
    height: 260px;
    width: unset;
  }

  #searchButton, #searchBar {
    margin: 10px 0 5px 0;
  }
}


@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

